#logo { grid-area: logo; display: flex;}
#navigation { grid-area: navigation; }
#header { grid-area: header; }
#side-bar { grid-area: side; display: flex; justify-content: center; align-items: center;}
#body-area { grid-area: body; display: flex; justify-content: center; align-items: center;}
#footer { grid-area: footer; }

#grid-container {
    display: grid;
    background-color: aqua;
    gap: 10px;
    padding: 10px;
    text-align: center;
    grid-template: 
    'logo logo logo' minmax(70px, auto)
    'navigation navigation navigation' minmax(auto, 50px)
    'header header header' minmax(100px, auto)
    'side body body' minmax(350px, auto)
    'footer footer footer' minmax(auto, 50px);
}

#grid-container > * {
    background-color: yellowgreen;
    padding: 20px 0;
}
